body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;

}
.container{
    background-color: white;
    display: flex;
    margin: 0%;
    padding: 0%;
    border-width: 5px solid black;
    flex-wrap: wrap;
    min-width: 960px;
    min-height: 960px;
    max-width: 960px;
    max-height: 960px;
    justify-content:center;
    align-items:center;
}
div{
    flex: 1 1 auto;
}
.permaHover{
    background-color: cyan;
}
.ni{
    background-color: #ff5c00;
}
.san{
    background-color: lime;
}
.goo{
    background-color: blue;
}
.nana{
    background-color: orangered;
}